@page
@model IndexModel
@inject Applikation_med_API.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>


<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            <a asp-page="/ProductDetails" asp-route-id="@product.ID">
                <img src="@product.ImagePath" alt="Image of @product.Name" />
                <h3>@product.Name</h3>
                <p>@product.Price kr</p>
                <!-- Add to cart button -->
                <form method="post">
                    <input type="hidden" name="productId" value="@product.ID" />
                    <button type="submit">Lägg i varukorg</button>
                </form>
            </a>
        </li>
    }
</ul>


<!-- pagination-->
<nav aria-label="Page navigation">
    <ul class="pagination">
        
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <form method="get" asp-page="/Index">
                    <button type="submit" class="btn btn-primary" name="currentPage" value="@(Model.CurrentPage - 1)">Previous</button>
                </form>
            </li>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {

            <!-- Next page link-->

            <li class="page-item">
                <form method="get" asp-page="/Index">
                    <button type="submit" class="btn btn-primary" name="currentPage" value="@(Model.CurrentPage + 1)">Next</button>
                </form>
            </li>
        }
    </ul>
</nav>

