@page
@model IndexModel
@inject Applikation_med_API.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome, @accessControl.LoggedInAccountName!</h1>

<a href="/ShoppingCart">Visa varukorg</a>

<h2>Sortiment</h2>
@if (Model.Products != null && Model.Products.Count > 0)
{
    <ul>
        @foreach (var product in Model.Products)
        {
            <img src="images/@product.ImagePath" style="width: 200px" />
            <li>
                <h3>@product.Name</h3>          
                <p>@product.Description</p>
                <p>Pris: @(product.Price.ToString("0.##")) kr</p>
                <p>Kategori: @product.Category</p>
                <!-- Add to cart button -->
                <form method="post">
                    <input type="hidden" name="productId" value="@product.ID" />
                    <button type="submit">Lägg i varukorg</button>
                </form>

             
            </li>
        }
    </ul>
}
else
{
    <p>Hittade inga produkter.</p>
}
