@page
@model OrderConfirmationModel


@if (Model.OrderItems.Count > 0)
{
    <h2>Orderbekräftelse</h2>
    <p>Tack för ditt köp! Här är detaljerna för din beställning:</p>

    <table class="table">
        <thead>
            <tr>
                <th>Produktnamn</th>
                <th>Pris per styck</th>
                <th>Kvantitet</th>
                <th>Totalt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price.ToString("0.##") kr</td>
                    <td>@item.Quantity</td>
                    <td>@((item.Quantity * item.Product.Price).ToString("0.##")) kr</td>
                </tr>
            }
            <tr>
                <td colspan="3" style="text-align:right"><strong>Totalt pris:</strong></td>
                <td><strong>@Model.TotalPrice.ToString("0.##") kr</strong></td>
            </tr>
        </tbody>
    </table>

    <!-- Link to main page -->
    <a href="/" class="home-button">Tillbaka till huvudsidan</a>

}
