@page
@model Applikation_med_API.Pages.CartModel


<h2>Varukorg</h2>

@if (Model.CartItems.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Bild</th>
                <th>Namn</th>
                <th>Styckpris</th>
                <th>Antal</th>
                <th>Totalt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.CartItems)
            {
                <tr>
                    <td><img src="images/@product.ImagePath" style="width: 50px;" /></td>
                    <td>@product.Name</td>
                    <td>@(product.Price.ToString("0.##")) kr</td>
                    <td>@product.Quantity</td>
                    <td>@((product.Price * product.Quantity).ToString("0.##")) kr</td>





                    <td>
                        <!-- Decrement quantity form -->
                        <form method="post" asp-page-handler="DecrementQuantity" style="display:inline">
                            <input type="hidden" name="cartItemId" value="@product.ID" />
                            <button type="submit" class="decrement-button">-</button>
                        </form>

                        @product.Quantity

                        <!-- Increment quantity form -->
                        <form method="post" asp-page-handler="IncrementQuantity" style="display:inline">
                            <input type="hidden" name="cartItemId" value="@product.ID" />
                            <button type="submit" class="increment-button">+</button>
                        </form>
                    </td>



                </tr>
            }
        </tbody>
    </table>

    <h3>Summa varukorg: <strong>@Model.CartItems.Sum(item => item.Price * item.Quantity).ToString("0.##") kr</strong></h3>

    <!-- Form to clear the cart -->
    <form method="post" asp-page-handler="ClearCart">
        <button type="submit" class="clear-button">Rensa varukorgen</button>
    </form>
}
else
{
    <p>Din varukorg är tom.</p>
}

<!-- Order link -->
<a asp-page="/OrderConfirmation" class="order-button">Slutför köp</a>




<!-- Main page link -->
<a href="/" class="home-button">Tillbaka till huvudsidan</a>

