<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="navbar-brand">Gabriel & Samuels Webbutik</a>
                <div class="navbar-right">

                    @await Component.InvokeAsync("FakeLoginMenu")


                    <!-- Search Form -->
                    <form class="search-form" method="get">
                        <input type="text" name="name" placeholder="Sök efter produkt..." value="@ViewData["CurrentFilter"]?.ToString()" autofocus />
                        <select name="category">
                            <option value="">Alla kategorier</option>
                            @foreach (var category in (ViewData["Categories"] as List<string>) ?? new List<string>())
                            {
                                <option value="@category">@category</option>
                            }
                        </select>
                        <button type="submit">Sök</button>
                    </form>
                    <!-- Trigger/Open The Modal -->
                    
                        <a href="/ShoppingCart" class="checkout-button">Gå direkt till kassan</a>
                   
                    <a href="#cartModal" class="cart-button">Visa varukorg</a>
                </div>
            </div>
        </nav>
    </header>

    <div id="cartModal" class="modal">
        <div class="modal-content">
            <a href="#" class="close">&times; Stäng varukorg</a>
            <h2>Din varukorg</h2>
            <ul>
                @if (ViewData["CartItems"] is List<CartItem> cartItems && cartItems.Any())
                {
                    foreach (var item in cartItems)
                    {
                        <li>
                            <img src="@Url.Content($"~/images/{item?.Product?.ImagePath ?? "default.png"}")" alt="Image of @(item?.Product?.Name)">
                            <div class="item-details">
                                <span><strong>@(item.Product.Name)</strong></span>
                                <span>@item.Quantity st @((item.Quantity) * (item.Product?.Price ?? 0.0m)) kr</span>
                            </div>
                        </li>
                    }
                }
            </ul>
            <button>
                <a href="/ShoppingCart" class="go-to-checkout">Gå till kassan</a>
            </button>
        </div>
    </div>


    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
